.mintabs > ul {
  /*text-align: center !important;*/
  font-weight: 500 !important;
  /*margin: 50px 0 0 !important;*/
  padding: 0 !important;
  position: relative !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  z-index: 1 !important; }
  .mintabs > ul > li {
    display: inline-block !important;
    background: #fff !important;
    padding: 0.6em 0 !important;
    position: relative !important;
    width: 15% !important;
    margin: 0 0 0 -4px !important; }
    .mintabs > ul > li:before, .mintabs > ul > li:after {
      opacity: 0 !important;
      transition: 0.3s ease !important; }
    .mintabs > ul > li.ui-tabs-active:before, .mintabs > ul > li.ui-tabs-active:after, .mintabs > ul > li.ui-state-hover:before, .mintabs > ul > li.ui-state-hover:after, .mintabs > ul > li.ui-state-focus:before, .mintabs > ul > li.ui-state-focus:after {
      opacity: 1 !important; }
    .mintabs > ul > li:before, .mintabs > ul > li.ui-state-active.ui-state-hover:before, .mintabs > ul > li.ui-state-active.ui-state-focus:before {
      content: "" !important;
      position: absolute !important;
      z-index: -1 !important;
      box-shadow: 0 2px 3px rgba(22, 195, 255, 0.5) !important;
      top: 50% !important;
      bottom: 0px !important;
      left: 5px !important;
      right: 5px !important;
      border-radius: 100px / 10px !important; }
    .mintabs > ul > li:after, .mintabs > ul > li.ui-state-active.ui-state-hover:after, .mintabs > ul > li.ui-state-active.ui-state-focus:after {
      content: "" !important;
      background: #fff !important;
      position: absolute !important;
      width: 12px !important;
      height: 12px !important;
      left: 50% !important;
      bottom: -6px !important;
      margin-left: -6px !important;
      transform: rotate(45deg) !important;
      box-shadow: inset 3px 3px 3px rgba(22, 195, 255, 0.5), inset 1px 1px 1px rgba(0, 0, 0, 0.3) !important; }
    .mintabs > ul > li.ui-state-hover:before, .mintabs > ul > li.ui-state-focus:before {
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) !important; }
    .mintabs > ul > li.ui-state-hover:after, .mintabs > ul > li.ui-state-focus:after {
      box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.3) !important; }
    .mintabs > ul > li.ui-state-focus a {
      text-decoration: underline !important; }
    .mintabs > ul > li:focus {
      outline: none !important; }
    .mintabs > ul > li a {
      color: #444 !important;
      text-decoration: none !important;
      font-size: 1em !important;
      font-weight: 600 !important; }
      .mintabs > ul > li a:focus {
        outline: none !important; }
      .mintabs > ul > li a span {
        position: relative !important;
        top: -0.5em !important; }

.mintabs > ul > li:hover {
  /*background-color: #ffc627 !important;*/ }

.mintabs.dark > ul {
  border-bottom-color: rgba(255, 255, 255, 0.3) !important; }
  .mintabs.dark > ul > li {
    background: #333 !important; }
    .mintabs.dark > ul > li:before, .mintabs.dark > ul > li.ui-state-active.ui-state-hover:before, .mintabs.dark > ul > li.ui-state-active.ui-state-focus:before {
      box-shadow: 0 2px 3px rgba(255, 255, 255, 0.3) !important; }
    .mintabs.dark > ul > li:after, .mintabs.dark > ul > li.ui-state-active.ui-state-hover:after, .mintabs.dark > ul > li.ui-state-active.ui-state-focus:after {
      background: #333 !important;
      box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.5) !important; }
    .mintabs.dark > ul > li.ui-state-hover:before, .mintabs.dark > ul > li.ui-state-focus:before {
      box-shadow: none !important; }
    .mintabs.dark > ul > li.ui-state-hover:after, .mintabs.dark > ul > li.ui-state-focus:after {
      box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4) !important; }
    .mintabs.dark > ul > li a {
      color: white !important; }

.mintabs {
  width: 90% !important;
  min-width: 360px !important;
  margin: auto !important; }

.contents {
  padding: 20px 50px !important;
  min-height: 200px !important; }

.darkpage {
  background: #333 !important;
  color: white !important; }

.darkpage,
.lightpage {
  padding: 50px 0 !important; }

@media screen and (min-width: 1000px) {
  .darkpage,
  .lightpage {
    width: 100% !important;
    float: left !important;
    padding: 0 !important; } }

.ui-widget *, .ui-widget input, .ui-widget select, .ui-widget button {
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important; }

