nav[class~=transparent] {
    background: rgba(12, 26, 30, 0.44);
    border: solid 1px #000;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.transparent .navbar-toggle {
    background: rgba(12, 11, 11, 0.92) !important;
}

.transparent .navbar-direct {
    text-shadow: 2px 4px 4px #000 !important;
    text-decoration: none;
    color: #e6ffc2;
    font-size: 1.4em;
    font-weight: 400;
    display: block;
    margin-top: 15px;
    margin-bottom: 25px !important;
}

.transparent .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
}

.transparent .nav-stacked {
    float: none;
    margin-left: -30px !important;
    display: block !important;
}

.transparent .navbar-collapse {
    text-align: center;
}


.transparent .nav-stacked > li > a, #navMenuButton i {
    background-color: transparent !important;
    color: #e6ffc2 !important;
    font-size: 1.1em;
    font-weight: 400;
    text-decoration: none !important;
    padding-right: 0 !important;
    display: block !important;
    text-shadow: 3px 4px 10px rgb(0, 0, 0);
}

#navMenuButton {
    background-color: transparent !important;
    color: #e6ffc2 !important;
    font-size: 2em;
    font-weight: 400;
    text-decoration: none !important;
    display: block !important;
    text-shadow: 3px 4px 10px rgb(0, 0, 0);
}

    #navMenuButton i {
        background-color: transparent !important;
        color: #e6ffc2 !important;
        font-size: 1.5em;
        font-weight: 400;
        text-decoration: none !important;
        display: block !important;
        text-shadow: 3px 4px 10px rgb(0, 0, 0);
    }

#navbarDirect span {
    background-color: transparent !important;
    color: #e6ffc2 !important;
    font-size: 1em !important;
    font-weight: 400;
    text-decoration: none !important;
    text-shadow: 3px 4px 10px rgb(0, 0, 0);
}

#navbarDirect i {
    background-color: transparent !important;
    color: #e6ffc2 !important;
    font-size: 1.5em !important;
    font-weight: 400;
    text-decoration: none !important;
    text-shadow: 3px 4px 10px rgb(0, 0, 0);
}

/*.transparent .nav-stacked > li > a:hover {
    text-shadow: 4px 4px 30px #ff3600;
}*/
.transparent .nav-stacked li:hover a,
.transparent .nav-stacked li:hover span {
    text-shadow: 5px 5px 25px #ff3600 !important;
}
    .transparent .nav-stacked li:hover span.search-by-skill {
        text-shadow: 5px -5px 25px #ff3600 !important;
    }
 
.transparent .nav-stacked > li > a > i {
    margin-bottom: 3px;
    display: block !important;
}

.transparent .nav-stacked > li > .dropdown-menu {
    border: solid 1px #000;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #fff !important;
    background: rgba(42, 57, 47, 0.73) !important;
    left: auto;
}

@media screen and (max-width:768px) {
    .transparent .nav-stacked > li > .dropdown-menu {
        border: solid 1px #000;
        margin: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #fff !important;
        background: rgba(42, 57, 47, 0.73) !important;
        left: 25%;
        top: 0;
    }

    .navbar {
        margin-bottom: 0 !important;
    }
}

.transparent .dropdown-menu > li > a {
    color: #fff;
}

    .transparent .dropdown-menu > li > a:hover {
        color: #fff;
        background: rgba(222, 61, 9, 0.7) !important;
    }


.attention-menu-banner {
    -webkit-animation: attentionPattern 1.5s ease-in; /* Chrome, Safari, Opera */
    animation: attentionPattern 0.5s alternate-reverse;
    -webkit-animation-iteration-count: 10; /* Safari 4.0 - 8.0 */
    animation-iteration-count: 10;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes attentionPattern {
    0% {
        box-shadow: 4px 4px 10px #e6ffc2;
    }

    50% {
        box-shadow: 4px 4px 50px #e6ffc2;
    }

    100% {
        box-shadow: 4px 4px 10px #e6ffc2;
    }
}

/* Standard syntax */
@keyframes attentionPattern {
    0% {
        box-shadow: 4px 4px 10px #e6ffc2;
    }

    50% {
        box-shadow: 4px 4px 50px #e6ffc2;
    }

    100% {
        box-shadow: 4px 4px 10px #e6ffc2;
    }
}

.country {
    max-height: 300px;
}

.chzn-select {
    width: 100% !important;
}

.skill-select {
    width: 100% !important;
}

.chosen-choices {
    border-radius: 5px !important;
}

.chosen-container-multi .chosen-choices {
    width: 200px !important;
}

.country-container {
    margin-left: 20px !important;
    background-color: transparent !important;
    color: #0c1a1e !important;
    font-size: 1.1em;
    font-weight: 400;
    text-decoration: none !important;
    padding-right: 0 !important;
    display: block !important;
    /*text-shadow: 3px 4px 10px rgb(0, 0, 0);*/
}

.country-header-image {
    background-image: url('../Images/univers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
}

    .country-header-image .close {
        color: #fff !important;
        opacity: 1;
    }

.chosen-container.chosen-with-drop .chosen-drop {
    clip: auto;
    width: 200px !important;
}

#country-title-font, #skills-title-font {
    font-family: sans-serif !important;
    font-size: 2em !important;
    font-weight: bolder !important;
    color: #fff;
    text-shadow: 3px 3px 0px rgb(35, 34, 34);
    letter-spacing: normal !important;
}

#skills-title-font {
    color: rgba(215, 50, 7, 0.6) !important;
    text-shadow: 1px 1px 0px rgba(35, 34, 34, 0.4) !important;
}

.skills-header-image {
    background-image: url('../Images/skills-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
}

    .skills-header-image .close {
        color: #1b1b1b !important;
        opacity: 1;
        font-size: 2em !important;
    }

#skills_chosen ul, #Countries_chosen ul {
    width: 250px !important;
    background-color: #f7f6ee !important;
}


@media screen and (min-width:320px) and (max-width:400px) {
    #skills_chosen ul, #Countries_chosen ul {
        width: 230px !important;
        background-color: #f7f6ee !important;
    }
}

@media screen and (min-width:401px) and (max-width:600px) {
    #skills_chosen ul, #Countries_chosen ul {
        width: 310px !important;
        background-color: #f7f6ee !important;
    }
}

@media screen and (min-width:601px) and (max-width:767px) {
    #skills_chosen ul, #Countries_chosen ul {
        width: 528px !important;
        background-color: #f7f6ee !important;
    }
}

@media screen and (min-width:768px)   {
    #skills_chosen ul, #Countries_chosen ul {
        width: 540px !important;
        background-color: #f7f6ee !important;
    }
}
 