body, html {
    overflow-x: hidden;
    height: 100%;
    width: 100% !important;
}

.display-block {
    display: block !important;
}

.home-page-image {
    background-image: url(/Resources/Uploaded/Images/1.jpg);
    background-size: contain;
    background-repeat: repeat-x;
    height: 400px;
}

.language {
    margin-left: 5px;
    margin-top: 45px !important;
    display: inline-block;
    font-size: 1.2em;
    color: #fff !important;
}

    .language:hover {
        margin-left: 5px;
        margin-top: 45px !important;
        display: inline-block;
        font-size: 1.2em;
        color: #ff9e15 !important;
    }

    .language span {
        display: block;
        font-size: 1em;
    }

.active-language {
    text-decoration: underline;
}

.no-border-round {
    border-radius: 0 !important;
}

.border-round {
    border-radius: 10px !important;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px !important;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.jsgrid-header-row > .jsgrid-header-cell {
    color: #000 !important;
    background-color: #ffc627 !important;
}

.jsgrid-edit-row > .jsgrid-cell, .jsgrid-filter-row > .jsgrid-cell, .jsgrid-grid-body, .jsgrid-grid-header, .jsgrid-header-row > .jsgrid-header-cell, .jsgrid-insert-row > .jsgrid-cell {
    border: 1px solid #ffc627 !important;
}

.jsgrid-grid-header {
    overflow-x: visible !important;
    overflow-y: visible !important;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.jsgrid-grid-body {
    overflow-x: visible !important;
    overflow-y: visible !important;
    -webkit-overflow-scrolling: touch;
}


.jstree-default .jstree-wholerow-clicked {
    background: #ffc627 !important;
}

/*jQuery-UI styles*/
.ui-widget-overlay.custom-overlay {
    background-color: black;
    background-image: none;
    opacity: 0.75;
    z-index: 1040;
}

.scroll-journal-list {
    height: 400px;
    overflow: scroll;
}

.upload-image-container {
    width: 100%;
    max-height: 210px;
    overflow-y: scroll;
}

.Description-container {
    width: 100%;
    overflow-y: scroll;
}

.element-group {
    margin-bottom: 5px !important;
}

.btn-add-user:before {
    font-family: 'FontAwesome' !important;
    padding: 0px 0px !important;
    content: "\f234" !important;
    font-size: 1.3em !important;
}

.btn-add-judge:before {
    font-family: 'FontAwesome' !important;
    padding: 0px 0px !important;
    content: "\f2c3" !important;
    font-size: 1.3em !important;
}

.btn-add-keyword {
    background-image: url(/Resources/Images/keyword.png) !important;
    background-repeat: no-repeat;
    width: 35px !important;
    height: 33px !important;
    background-size: contain;
}

.btn-payment {
    background-image: url(/Resources/Images/pay-icon-blue.png) !important;
    background-repeat: no-repeat;
    width: 38px !important;
    height: 35px !important;
    background-size: contain;
}

.btn-result {
    background-image: url(/Resources/Images/result.png) !important;
    background-repeat: no-repeat;
    width: 38px !important;
    height: 35px !important;
    background-size: contain;
}

.btn-choose-file:before {
    font-family: 'FontAwesome' !important;
    padding: 0px 0px !important;
    font-size: 1.3em !important;
    content: "\f07c" !important;
}

.btn-edit:before {
    font-family: 'FontAwesome' !important;
    padding: 0px 0px !important;
    content: "\f044" !important;
    font-size: 1.3em !important;
}

.btn-members:before {
    font-family: 'FontAwesome' !important;
    padding: 0px 0px !important;
    content: "\f0c0" !important;
    font-size: 1.3em !important;
}

.btn-graduation-cap:after {
    font-family: 'FontAwesome' !important;
    padding: 0px 0px !important;
    content: "\f19d" !important;
    font-size: 1.25em !important;
}

.btn-image-in:after {
    font-family: 'FontAwesome' !important;
    padding: 0px 0px !important;
    font-size: 1.25em !important;
}

.btn-detail:before {
    font-family: 'FontAwesome' !important;
    padding: 0px 5px !important;
    content: "\f129" !important;
    font-size: 1.3em !important;
}

.btn-select:before {
    font-family: 'FontAwesome' !important;
    padding: 0px 0px !important;
    content: "\f25a" !important;
    font-size: 1.3em !important;
}

.btn-download:before {
    font-family: 'FontAwesome' !important;
    padding: 0px 0px !important;
    content: "\f019" !important;
    font-size: 1.3em !important;
}

.btn-delete:before {
    font-family: 'FontAwesome' !important;
    padding: 0 0 !important;
    content: "\f00d" !important;
    font-size: 1.3em !important;
}

.new-sign:before {
    font-family: 'FontAwesome' !important;
    padding: 0 0 !important;
    content: "\f1d4" !important;
    font-size: 1.3em !important;
    border-radius: 50%;
}

/*/////////////////////////// Submit Team /////////////////////////////////////////////*/

.submit-btn-add-user:before {
    font-family: 'FontAwesome' !important;
    padding: 0 0 !important;
    content: "\f234" !important;
    font-size: 1.7em !important;
}

.submit-btn-add-judge:before {
    font-family: 'FontAwesome' !important;
    padding: 0 0 !important;
    content: "\f2c3" !important;
    font-size: 20px !important;
}

.submit-btn-add-keyword {
    background-image: url(/Resources/Images/keyword.png) !important;
    background-repeat: no-repeat;
    width: 35px !important;
    height: 33px !important;
    background-size: contain;
}

.submit-btn-add-evaluation {
    background-image: url(/Resources/Images/service2.png) !important;
    background-repeat: no-repeat;
    width: 35px !important;
    height: 33px !important;
    background-size: contain;
}

.submit-btn-choose-file:before {
    font-family: 'FontAwesome' !important;
    padding: 0 0 !important;
    font-size: 20px !important;
    content: "\f07c" !important;
}

.submit-btn-edit:before {
    font-family: 'FontAwesome' !important;
    padding: 0px 4px !important;
    content: "\f044" !important;
    font-size: 20px !important;
}

.submit-btn-download:before {
    font-family: 'FontAwesome' !important;
    padding: 0px 4px !important;
    content: "\f019" !important;
    font-size: 20px !important;
}

.submit-btn-delete:before {
    font-family: 'FontAwesome' !important;
    padding: 0 4px !important;
    content: "\f00d" !important;
    font-size: 20px !important;
}
/*/////////////////////////// Submit Team /////////////////////////////////////////////*/
.expandable-smooth {
    height: 60px !important;
    -webkit-transition: all 0.5s ease-in-out !important;
    transition: all 0.5s ease-in-out !important;
}

    /*.expandable-smooth:hover,*/ .expandable-smooth:focus {
        height: 300px !important;
        /*-webkit-transition: all 0.8s ease-in-out !important;
        transition: height 0.8s ease-in-out !important;*/
    }

.card-item-detail {
    margin-top: 5px !important;
    margin-bottom: 3px !important;
}

.card-item-detail-label {
    font-weight: 800 !important;
    font-size: 1em;
}

.card-item-detail-value {
    font-weight: 400 !important;
    font-size: 0.9em;
}

.dropped-remove-item-position {
    position: absolute !important;
    bottom: 10px !important;
}

.operation-key-bottom {
    position: absolute !important;
    bottom: 10px !important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}

@media (max-width:991px) {
    .operation-key-bottom {
        position: static !important;
    }

    .dropped-remove-item-position {
        position: static !important;
    }
}

@media (max-width:767px) {
    .language span {
        display: block;
        font-size: 0.9em;
    }

    .language {
        margin-left: 5px;
        margin-top: 35px !important;
        display: inline-block;
        font-size: 1.2em;
        color: #fff !important;
    }
}

.volume-issue-tree-container .jstree-default-large .jstree-anchor {
    line-height: 32px;
    height: 32px;
    font-weight: 700;
    font-size: .8em;
}

.member-profile-img {
    max-width: 64px !important;
}

.profile-img {
    max-width: 200px !important;
    max-height: 200px !important;
    border: solid 1px #808080;
}
.attached-file-img {
    max-width: 50px !important;
    max-height: 50px !important;
    border: solid 1px #808080;
}

.written-report-img {
    width: 50px !important;
    height: 50px !important;
}

.allergies {
    width: 100% !important;
    height: 70px !important;
}

.short-bio {
    width: 100% !important;
    height: 70px !important;
}

.description-content {
    width: 100% !important;
    height: 200px !important;
}

.team-description-textarea {
    width: 100% !important;
    height: 100% !important;
}

.status-img {
    width: 32px;
}

.jsgrid-grid-header,
.jsgrid-grid-body {
    overflow: scroll !important;
}

.image-list {
    width: 32px !important;
    margin: 5px !important;
}

.image-list-small {
    height: 30px !important;
}

.remove-margin-left {
    margin-left: -15px !important;
}

.checkbox-lg {
    width: 20px !important;
    height: 20px !important;
}

.form-title {
    font-size: 30px !important;
}

.apple-device-alert {
    color: #fc5906;
}

.scrollable-description {
    height: 80px;
    overflow-y: scroll;
}

.agreements {
    vertical-align: middle;
    border: 0.5pt solid windowtext;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
    color: black;
    font-size: 11pt;
    font-family: Calibri,sans-serif;
}

.inline-block {
    display: inline-block
}
