.modal-fixed {
}
    .modal-fixed .modal {
        position: fixed !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        overflow: auto !important;
    }

    .modal-fixed .modal-dialog {
        position: relative !important;
        margin: auto !important;
        padding: 0 !important;
        height: 100% !important;
        width: 100% !important;
    }

    .modal-fixed .modal-header {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        border: none !important;
    }

    .modal-fixed .modal-content {
        position: absolute !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }

    .modal-fixed .modal-body {
        position: absolute !important;
        top: 50px !important;
        bottom: 0 !important;
        font-size: 15px !important;
        overflow: auto !important;
        margin-bottom: 60px !important;
        padding: 0 15px 0 !important;
        width: 100% !important;
    }

    .modal-fixed .modal-footer {
        position: absolute !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        height: 60px !important;
        padding: 10px !important;
        background: #f1f3f5 !important;
    }
/* to delete the scrollbar */

::-webkit-scrollbar {
    -webkit-appearance: none !important;
    background: #f1f3f5 !important;
    border-left: 1px solid darken(#f1f3f5, 10%) !important;
    width: 10px !important;
}

::-webkit-scrollbar-thumb {
    background: darken(#f1f3f5, 20%) !important;
}
