.tootip-popup {
    position: fixed;
    padding: 15px 20px;
    color: #1d1c1c;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    z-index: 9999;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.1em;
    font-style:italic;
}
