@model WERC.Models.VMHandleErrorInfo

@{
    ViewBag.Title = "Login Failure";
}
<div class="col-xs-2"></div>
<div class="col-xs-8">

    <hgroup>
        <h2>@ViewBag.Title</h2>
        <h3 class="text-danger"> @Model["Unsuccessful Login With Service"] </h3>
    </hgroup>
</div>
<div class="col-xs-2"></div>