
@model WERC.Models.ForgotPasswordConfirmationViewModel

@{
    ViewBag.Title = "Reset Password Confirmation";
}
<div class="col-xs-2"></div>
<div class="col-xs-8">

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            @Model["Please Check Your Email To Reset Your Password"]
            <hr />
            @Model["If you do not receive the confirmation message within a few minutes of signing up, please check your Spam or Bulk or Junk E-Mail folder just in case the confirmation email got delivered there instead of your inbox. If so, select the confirmation message and mark it Not Spam, which should allow future messages to get through."]
        </p>
    </div>

</div>
<div class="col-xs-2"></div>