@model Model.Base.BaseViewModel
@{
    ViewBag.Title = "Reset password confirmation";
}
<div class="col-xs-2"></div>
<div class="col-xs-8">

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            @Model["Your Password Has Been Reset"]
            @Html.ActionLink(@Model["Click Here To Log In"], "Login", "Account",
                                routeValues: null, htmlAttributes: new { id = "loginLink" })


        </p>
    </div>
</div>
<div class="col-xs-2"></div>