@model WERC.Models.VMHandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">@Model["Locked Out"]</h1>
    <h2 class="text-danger">@Model["Denne Konto Er Blevet Låst, Prøv Igen Senere"]</h2>
</hgroup>
