@using Model.ViewModels.Advisor

@model VmAdvisor
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdvisor.cshtml";
}

<div class="col-xs-2"></div>
<div class="col-xs-10 text-center">
    <h4>
        To begin team registration, click on the "team" tab in the menu above. Then click the blue "create team" button.
    </h4>
</div>
<div class="col-xs-2"></div>

